{% extends 'SProvider/Header.html' %}
{% block researchblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 1104px;
    height: 442px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style12 {color: #FFFF00; font-weight: bold; }
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">View Intrusion Prediction Type Details  !!! </p>
                            <hr>
                            <div class="tweettext">
                               <table border="5" bordercolor="#FF00FF">


                                   <tr>


                         <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">timestamp</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">src_ip</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">src_port</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">dst_ip</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">dst_port</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">proto</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">duration</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">src_bytes</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">dst_bytes</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">conn_state</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">missed_bytes</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">src_pkts</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">src_ip_bytes</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">dst_pkts</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">dst_ip_bytes</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">dns_qclass</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">dns_qtype</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">dns_rcode</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">http_request_body_len</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">http_response_body_len</span></div></td>
<td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">http_status_code</span></div></td>
                        <td bgcolor="#FF0000"><div align="center" class="style12"><span class="style8 style6">Prediction</span></div></td>


                      </tr>
                            {% for object in list_objects %}
                      <tr>

<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.timestamp}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.src_ip}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.src_port}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.dst_ip}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.dst_port}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.proto}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.duration}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.src_bytes}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.dst_bytes}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.conn_state}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.missed_bytes}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.src_pkts}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.src_ip_bytes}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.dst_pkts}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.dst_ip_bytes}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.dns_qclass}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.dns_qtype}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.dns_rcode}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.http_request_body_len}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.http_response_body_len}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.http_status_code}}</div></td>
<td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.Prediction}}</div></td>


                        </tr>

                                        {% endfor %}
                      </table>

                            </div>

						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>